/* CMSY 172 - Lab 8 Custom CSS*/

.container { margin-top: 10px; }  /* vertical offset */

body { font-size: 100%; }

h3 { margin-bottom: 15px; }

form {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  background-color: lightgray;
  text-align: center;
  border: .25em solid blue;
  border-radius: 5px;
}


label { 
  font-size: 1.2em; 
  color: blue;
} 

#output {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}